#title {
    color: black;
    font-size: 36pt;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.elements {
    color: #487F5A;
}

#desc {
    font-size: 22pt;
    text-align: center;
    width: 100%;
}

.first-row {
    width: 100%;
    margin: 0 auto;
}

.top-containers {
    width: 50%;
    float: left;
}

.top-row {
    height: 350px;
}

.bottom-rows {
    height: 350px;
}

.portrait {
    position: relative;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

