#title {
    color: black;
    font-size: 36pt;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.elements {
    color: #487F5A;
}

#desc {
    font-size: 22pt;
    text-align: center;
    width: 100%;
}

.first-row {
    width: 90%;
    margin: 0 auto;
}

.stars {
    margin: 0 auto;
}

.containers {
    width: 40%;
    float: left;
}

.portrait {
    width: 40%;
}
