#title {
    color: black;
    font-size: 36pt;
    text-align: center;
    width: 100%;
    margin: 16px 0;
}

span.elements {
    color: #487F5A;
}

img.img-height {
    display: block;
    height: 400px;
    margin: 0 auto;
}

.image-container {
    margin: 0 auto;
}

h2.names {
    padding: 10px 0;
    text-align: center;
}

div.first-row {
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 2fr;
}

.top-item {
    width: 50%;
    display: block;
    margin: 0 auto;
}

div.second-row {
    width: 100%;
    padding-top: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* 
.portrait {
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
} */

